.Rproj.user
.Rhistory
.RData
.Ruserdata
inImg

outReports/
outData/
outData_share/
outTable/
share/

plot1.png
Rplot.png
anom_3.png
Bavaria_mortality.png

titanic.csv

dataToPlot.Rdata
dat_restr.Rdata
vegData.Rdata

sitesOverview.html
mortality_report.html
report_2022-09-18.html
forest_reorg_2022-09-18.html
forest_reorg_2022-10-04.html
quantify_forest_reorgan.html
