.Rproj.user
.Rhistory
.RData
.Ruserdata
img
plot1.png
mortality_report.html
mortality_report.Rmd
anom_3.png
Bavaria_mortality.png
vegData.Rdata
titanic.csv
sitesOverview.html
Rplot.png
dataToPlot.Rdata
quantify_forest_reorgan.html
dat_restr.Rdata
quantify_forest_reorgan.Rmd
report_2022-09-18.html
forest_reorg_2022-09-18.html
forest_reorg_2022-10-04.html
