.Rproj.user
.Rhistory
.RData
.Ruserdata
img
plot1.png
mortality_report.html
mortality_report.Rmd
anom_3.png
Bavaria_mortality.png
vegData.Rdata
titanic.csv
sitesOverview.html
Rplot.png
dataToPlot.Rdata
quantify_forest_reorgan.html
